<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Veste">
    <title>Veste</title>


    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Veste"/>
    <meta property="og:title" content="Одежда всех размеров"/>
    <meta property="og:description" content="Veste"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="600"/>

    <link rel="icon" type="image/png" href="../static/images/favicon/favicon.png">
    <link rel="preload" href="../static/fonts/CoFoSans-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="../static/fonts/CoFoSans-Black.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="../static/fonts/CoFoSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="../static/fonts/CoFoSans-Medium.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="../static/styles/style.min.css">
</head>

<body>
<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <button class="header__city-button">Ваш город ?</button>
            <div class="header__right-block">
                <a class="header__pay" href="faq">faq</a>
            </div>
        </div>
    </div>
</header>
<main>
    <section class="subheader">
        <div class="container">
            <div class="subheader__wrapper">
                <nav class="subheader__navigation navigation">
                    <ul class="navigation__list">
                        <li class="navigation__item">
                            <a class="navigation__link" href="catalog">Каталог</a>
                        </li>
                    </ul>
                </nav>
                <a class="subheader__logo" href="/"> <img src="../static/images/svg/logo.PNG"></a>
                <button class="subheader__cart">Корзина</button>
            </div>
        </div>
    </section>
</main>
<h2 class="info-heading">Информация о Заказе и Доставке</h2>

<div class="info-container">
    <h3>Как происходит оплата?</h3>
    <p>Оплата осуществляется через платежную систему</p>

    <h3>Сколько дней обрабатывается заказ?</h3>
    <p>Обработка заказа занимает от 7 до 12 дней (без учёта выходных), после чего вы получите трек-номер на электронную почту, по которому сможете отследить свою посылку.</p>

    <h3>Как осуществляется доставка?</h3>
    <ul>
        <li>Почтой по России — 390 руб.</li>
        <li>Курьер до двери по Москве — 490 руб.</li>
        <li>Доставка по СНГ (Беларусь / Казахстан и тд.) — 890 руб.</li>
        <li>Отправка по миру (Европа / Америка и тд.) — 1490 руб.</li>
    </ul>

    <h3>Сколько времени идут посылки почтой?</h3>
    <p>Доставка по России занимает от 3 до 7 рабочих дней.</p>
    <p>По СНГ и миру от 10 до 14 рабочих дней.</p>
    <p>*Сроки могут отличаться в зависимости от удаленности населенного пункта и загруженности компании отправителя</p>

    <h3>Можно ли сделать возврат?</h3>
    <p>Возврат делается в случае брака изделия.</p>

    <h3>Что делать, если я не нашёл/нашла ответ на свой вопрос?</h3>
    <p>В таких случаях рекомендую писать в телеграм: <a href="https://t.me/localhostj">тык</a></p>
</div>

<footer class="footer">
    <div class="container footer__columns">
        <div class="footer__column">
            <h2 class="footer__column-title">roll and smoke</h2>
            <h2 class="footer__column-title">(ﾉ◕ヮ◕)ﾉ*:･ﾟ✧</h2>
        </div>

        <div class="footer__column">
            <h3 class="footer__column-title">Мы в соцсетях</h3>
            <ul class="footer__column-list">
                <li class="footer__column-item">
                    <ul class="footer__column-icons">
                        <li><a target="_blank" href="https://t.me/vestej" class="footer__social-item footer__social-item_tg"></a></li>
                        <li><a target="_blank" href="https://www.instagram.com/v3s.te?igsh=MTl6b2NiYTU3Y3M5dg==" class="footer__social-item footer__social-item_ig"></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="footer__column">
            <div class="footer__column-item">
                <h3 class="footer__column-title">Способы оплаты</h3>
                <ul class="footer__column-icons">
                    <li class="footer__column-icon footer__icon-mastercard"></li>
                    <li class="footer__column-icon footer__icon-visa"></li>
                    <li class="footer__column-icon footer__icon-mir"></li>
                </ul>
            </div>
            <p class="footer__column-item footer__text">

                Вы можете оплатить покупки<br>
            </p>
            <h3>Как вам по кайфу</h3>

        </div>
    </div>
</footer>


<script src="../static/js/main.js"></script>
</body>
</html>
